@{
    ViewBag.Title = "Add Funds";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="smallInput">Amount</label>
                            <input type="text" class="form-control form-control-sm" id="smallInput" placeholder="Amount">
                        </div>                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">Choose Bank</label>
                            <table>
                                <tr>
                                    <td style="padding-right:10px;">
                                        <div class="card" style="width:180px !important;">
                                            <div class="card-header">
                                                Maybank
                                            </div>
                                            <div class="card-body">
                                                <img src="../../Images/banks/maybank.png" alt="title" class="imagecheck-image">
                                            </div>
                                        </div>
                                    </td>
                                    <td style="padding-right:10px;">
                                        <div class="card" style="width:180px !important;">
                                            <div class="card-header">
                                                HSBC
                                            </div>
                                            <div class="card-body">
                                                <img src="../../Images/banks/hsbc.png" alt="title" class="imagecheck-image">
                                            </div>
                                        </div>
                                    </td>
                                    <td style="padding-right:10px;">
                                        <div class="card" style="width:180px !important;">
                                            <div class="card-header">
                                                Citibank
                                            </div>
                                            <div class="card-body">
                                                <img src="../../Images/banks/citibank.png" alt="title" class="imagecheck-image">
                                            </div>
                                        </div>
                                    </td>
                                    <td style="padding-right:10px;">
                                        <div class="card" style="width:180px !important;">
                                            <div class="card-header">
                                                Public Bank
                                            </div>
                                            <div class="card-body">
                                                <img src="../../Images/banks/publicbank.png" alt="title" class="imagecheck-image">
                                            </div>
                                        </div>
                                    </td>
                                    <td style="padding-right:10px;">
                                        <div class="card" style="width:180px !important;">
                                            <div class="card-header">
                                                CIMB
                                            </div>
                                            <div class="card-body">
                                                <img src="../../Images/banks/cimb.png" alt="title" class="imagecheck-image">
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>